// Inizio Navbar

.nav-container {
    margin-left: 17%;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15%;
    z-index: 2;

    &-img {
        height: 80px;
        width: 72px;
        z-index: inherit;
    }

    &-element {
        display: flex;
        letter-spacing: 2px;

        .element-attachment-nav {
            display: flex;
            margin: 0;
            text-align: center;
            margin-left: 50px;

            .element {
                color: #fff;
                text-decoration: none;
            }
        }

        .element-nav {
            margin-left: 50px;
            text-align: center;

            .element {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

#element-pink {
    width: 120px;
    height: 4px;
    background-color: #ff0076;
    text-align: center;
    margin-top: 5px;
    // #ff0076
}

#element-orange {
    width: 120px;
    height: 4px;
    background-image: linear-gradient(to right, #FF8400 0, #FF0076 100%);
    margin-top: 5px;
    // #FF8400 #FF0076
}

#element-blue {
    width: 80px;
    height: 4px;
    background-color: #4003ca;
    margin-top: 5px;
    // #4003ca
}

#element-marine {
    width: 80px;
    height: 4px;
    background-color: #33ffd9;
    margin-top: 5px;
    // #33ffd9
}

// Fine Navbar