* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}


#coin-img-sx {
    
    img {
        position: absolute;
        top: 0;
        left: -20px
    }
}


// Variables

@import "../templates/variables";



// Inizio Navbar

@import "../templates/navbar";

.element-nav {
    z-index: 4;
}

// Fine Navbar



// Inizio Header

.custom-container {
    position: relative;
    width: 100%;
    height: 630px;
    z-index: 1;

    .header-boxing {
        margin-left: 15%;
    
        .element-ring-max {
            position: absolute;
            left: 1080px;
            z-index: 3;
            margin-top: 70px;
            opacity: 0.8;
        
            .ring-top {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 500px;
                width: 500px;
                background-color: #60f4d9;
                // #60f4d9
                border-radius: 50%;
                background-image: linear-gradient(to bottom, #60f4d9 50%, #000 100%);
            
                .ring-mid-top {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 375px;
                    width: 375px;
                    background-color: #df7f97;
                    // #df7f97
                    border-radius: 50%;
                    background-image: linear-gradient(to bottom, #df7f97 50%, #60f4d9 100%);
                    
                    .ring-low-mid {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 250px;
                        width: 250px;
                        background-color: #f0539d;
                        // #f0539d
                        border-radius: 50%;
                        background-image: linear-gradient(to bottom, #f0539d, #df7f97 50%);
        
                        .ring-low {
                            height: 125px;
                            width: 125px;
                            background-color: #6ef4de;
                            // #6ef4de
                            border-radius: 50%;
                            background-image: linear-gradient(to bottom, #6ef4de, #df7f97 96%);
                        } 
                    }
                }
            }
        }

        .element-ring-min {
            position: absolute;
            left: 1365px;
            z-index: 3;
            margin-top: 260px;
        
            .ring-top {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 300px;
                width: 300px;
                background-color: #60f4d9;
                // #60f4d9
                border-radius: 50%;
                background-image: linear-gradient(to bottom, #a1d66f 50%, #85a35f 100%);
            
                .ring-mid-top {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 245px;
                    width: 245px;
                    background-color: #df7f97;
                    // #df7f97
                    border-radius: 50%;
                    background-image: linear-gradient(to bottom, #f65b9a 50%, #a1d66f 100%);
                    
                    .ring-low-mid {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 180px;
                        width: 180px;
                        background-color: #f0539d;
                        // #f0539d
                        border-radius: 50%;
                        background-image: linear-gradient(to bottom, #fa7193, #df7f97 50%);
        
                        .ring-low {
                            height: 120px;
                            width: 120px;
                            background-color: #6ef4de;
                            // #6ef4de
                            border-radius: 50%;
                            background-image: linear-gradient(to bottom, #6ef4de, #df7f97 96%);
                        } 
                    }
                }
            }
        }
    
        .box-container {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 495px;
            width: 73%;
            margin-top: 40px;
            border: double 20px transparent;
            border-radius: 80px;
            background: linear-gradient(124deg, #33ffd9 0%, #ff3364 20%, #83cd29 40%, white 60%, white 100%);
            z-index: 0;
            filter: blur(12px);
            opacity: 0.3;
            background-origin: border-box;
            background-clip: content-box, border-box;   
        }
    
        .box-left {
            display: grid;
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            z-index: 1;
    
            .grid-area-box {
                position: absolute;
                margin-bottom: 330px;
                margin-left: -30px;
                z-index: 1;
                
                .display-border-two {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 290px;
                    left: 60px;
                    width: 650px;
                    height: 500px;

                    #robot-acqua-marine {
                        width: 220px;
                        height: 220px;
                        z-index: 3;
                        padding: 10px;
                    }

                    #robot-red {
                        width: 220px;
                        height: 220px;
                        z-index: 3;
                        padding: 10px;
                    }

                    #robot-green {
                        width: 220px;
                        height: 220px;
                        z-index: 3;
                        padding: 10px;
                    }
                    
                    .display-border {
                        position: absolute;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                        width: 650px;
                        height: 450px;
                        top: 35px;
                        border-top-left-radius: 80px;
                        border-bottom-left-radius: 80px;
                        overflow: hidden;
                        z-index: 2;
                    
                        .grid-box {
                            filter: blur(0.3px);
                            border: 1px solid #fff;
                        }

                        .top {
                            border-top: none;
                        }

                        .right {
                            border-right: none;
                        }

                        .left {
                            border-left: none;
                        }

                        .bottom {
                            border-bottom: none;
                        }
                    }
                }
            }
    
            .box-right {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 700px;
                height: 300px;
                width: 43%;
                z-index: 4;
                
                
                .box-container-element {
                    display: flex;
                    flex-direction: column;   
                    margin-right: 240px;
                    z-index: 2;
        
                    .box-title {
                        color: #fff;
                        font-size: 48px;
                        font-weight: bold;
                        margin-top: 300px;
                    }
                
                    .box-document {
                        color: #fff;
                        font-size: 20px;
                        margin-top: 2px;
                    }
                }
            }
        }
    }
}

// Fine Header



// Inizio della Section 1

#street-course {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 40px;
    height: 550px;

    .head-title {
        width: 100%;
        height: 65px;
        border-bottom: 1px solid #33ffd9;
        text-shadow:
            0 0 7px #33ffd9,
            0 0 10px #17d1b2,
            0 0 21px #000000;

        span {
            margin-left: 15%;
            color: #33ffd9;
            font-weight: 900;
            font-size: 48px;
            letter-spacing: 1px;
        }
    }

    .content {
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 18px;
        margin-left: 15%;
        margin-top: 30px;
        color: #fff;
    }

    .container {
        position: relative;
        height: 259px;
        width: 370px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 40px;
        margin-left: 15%;
        margin-top: 30px;
        transition: 0.3s;

        .main-title {
            color: #33FFD9;
            font-weight: 900;
            font-size: 24px;
            padding: 20px 30px;
            letter-spacing: 1px;
            transition: 0.3s;
        }

        .content-text {
            font-size: 15px;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.6);
            padding-left: 30px;
            letter-spacing: 1px;
            padding-bottom: 30px;
            transition: 0.3s;
        }

        .logos {
            margin-left: 30px;
            transition: 0.3s;

            img {
                margin-right: 15px;
            }
        }

        .robot {
            position: absolute;
            left: 250px;
            bottom: 15px;
            z-index: -1;
            transition: 0.3s;
            
            img {
                width: 200px;
                height: 213px;
            }
        }

        .box-button {
            position: absolute;
            top: 235px;
            left: 70px;
            cursor: pointer;
            width: 210px;
            height: 50px;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                width: 160px;
                height: 50px;
                border-radius: 0;
                border: 0;
                background-color: #33FFD9;
                font-size: 15px;
                font-family: "Press Start 2P", cursive;

                span {
                    margin-right: 25px;
                }
            }

            .button-icon {
                position: absolute;
                left: 170px;
                top: -2.5px;

                img {
                    width: 55px;
                    height: 55px;
                }
            }
        }

        .box-button:hover .button-icon img {
            position: relative;
            bottom: 10px;
        }
    }

    .container:hover {
        box-shadow: 
                0 0 7px #33ffd9,
                0 0 10px #17d1b2,
                0 0 21px #14ba9f,
                0 0 42px #119c85,
                0 0 82px #0d806d,
                0 0 92px #0a6959,
                0 0 102px #074a3f,
                0 0 151px #000000;
    }

    .container:hover .main-title {
        margin-left: -20px;
    }

    .container:hover .content-text {
        margin-left: -20px;
        margin-top: -10px;
    }

    .container:hover .logos {
        margin-left: -20px;
    }

    .container:hover .robot{
        left: 320px;
    }
}

// Fine della Section 1



// Inizio della Section 2

#single-course {
    position: relative;
    width: 100%;
    height: 300px;

    .main-title {
        width: 100%;
        height: 70px;
        border-bottom: 1px solid #33ffd9;

        text-shadow:
            0 0 7px #33ffd9,
            0 0 10px #17d1b2,
            0 0 21px #14ba9f,
            0 0 42px #119c85,
            0 0 82px #0d806d,
            0 0 92px #0a6959,
            0 0 102px #074a3f,
            0 0 151px #000000; 

        span {
            margin-left: 15%;
            color: #33ffd9;
            font-weight: 900;
            font-size: 48px;
            letter-spacing: 1px;
        }

        #btn-link {
            height: 60px;
            width: 200px;

            button {
                position: relative;
                bottom: 15px;
                height: 60px;
                width: 200px;
                margin-left: 50px;
                border-radius: 10px;
                border: 0;
                background-color: #33FFD9;
                cursor: pointer;
                transition: 0.2s;
    
                span {
                    position: absolute;
                    top: 21px;
                    right: 50px;
                    font-size: 20px;
                    font-family: "Press Start 2P", cursive;
                    color: #000;
                    transition: 0s;
                }

                img {
                    position: absolute;
                    right: 10px;
                    top: 22px;
                }
            }

            button:hover {
                background-color: #000;
                border-radius: 50px;
                border: 1px solid #fff;
            }

            button:hover span {
                position: absolute;
                left: 6px;
                color: #fff;
            }

            button:hover img {
                display: none;
            }
        }
    }

    .content {
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 18px;
        margin-left: 15%;
        margin-top: 20px;
        color: #fff;
    }

    .flex-container {
        display: flex;
        margin-top: 40px;
        margin-left: 15.5%;


        // CSS & SASS
        a {
            text-decoration: none;
            height: 170px;
            width: 260px;
            margin-right: 20px;

            #card-css-advanced {
                display: flex;
                position: relative;
                height: 170px;
                width: 260px;
                background-color: #4d4d4d;
                border-radius: 20px;
                transition: 0.3s;

                .entry-card {
                    display: flex;
                    flex-direction: column;

                    .title-css {
                        position: absolute;
                        letter-spacing: 1px;
                        top: 20px;
                        left: 50px;
                        color: #33A9DC;
                        font-size: 24px;
                        font-weight: 500;
                        transition: 0.3s;
                    }
    
                    .content {
                        position: absolute;
                        left: 10px;
                        top: 40px;
                        font-weight: 500;
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.6);
                        z-index: 3;
                        transition: 0.3s;
                    }
                }
    
                .css3 {
                    position: absolute;
                    opacity: 0.7;
                    left: -40px;
                    top: 95px;
                }
    
                .sass {
                    position: absolute;
                    left: 30px;
                    top: 95px;
                }

                .flex-icon {
                    position: absolute;
                    top: 120px;
                    right: 30px;
                    color: #fff;
                }
            }

            #card-css-advanced:hover {
                border: 1px solid #fff;
                background-color: #000;
            }
        }

        a:hover .title-css {
            text-shadow: 
                0 0 7px #33A9DC,
                0 0 10px #2e94bf,
                0 0 21px #25789c,
                0 0 42px #1b5670,
                0 0 82px #143f52,
                0 0 92px #0e2d3b,
                0 0 102px #081b24,
                0 0 151px #000000;
        }

        a:hover #card-css-advanced .entry-card .content {
            color: #898a87;
        }
    

        // Javascript
        a {
            text-decoration: none;
            height: 170px;
            width: 260px;
            margin-right: 20px;

            #card-javascript {
                position: relative;
                height: 170px;
                width: 260px;
                background-color: #4d4d4d;
                border-radius: 20px;
                transition: 0.3s;

                .entry-card {
                    display: flex;
                    flex-direction: column;

                    .title-js {
                        position: absolute;
                        letter-spacing: 1px;
                        top: 20px;
                        left: 50px;
                        color: #F7DF1E;
                        font-size: 24px;
                        font-weight: 500;
                        transition: 0.3s;
                    }
    
                    .content {
                        position: absolute;
                        left: 10px;
                        top: 40px;
                        font-weight: 500;
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.6);
                        z-index: 3;
                        transition: 0.3s;
                    }
                }
    
                .javascript {
                    position: absolute;
                    opacity: 0.6;
                    left: 30px;
                    top: 95px;
                }

                .flex-icon {
                    position: absolute;
                    top: 120px;
                    right: 30px;
                    color: #fff;
                }
            }

            #card-javascript:hover {
                border: 1px solid #fff;
                background-color: #000;
            }
        }

        a:hover .title-js {
            text-shadow: 
                0 0 7px #F7DF1E,
                0 0 10px #d6c21c,
                0 0 21px #b5a418,
                0 0 42px #948615,
                0 0 82px #706610,
                0 0 92px #47410a,
                0 0 102px #302c08,
                0 0 151px #000000;
        }

        a:hover #card-javascript .entry-card .content {
            color: #898a87;
        }
    

        // React
        a {
            text-decoration: none;
            height: 170px;
            width: 260px;
            margin-right: 20px;
            transition: 0.3s;

            #card-react {
                position: relative;
                height: 170px;
                width: 260px;
                background-color: #4d4d4d;
                border-radius: 20px;

                .entry-card {
                    display: flex;
                    flex-direction: column;

                    .title-react {
                        position: absolute;
                        letter-spacing: 1px;
                        top: 20px;
                        left: 50px;
                        color: #00D8FF;
                        font-size: 24px;
                        font-weight: 500;
                        transition: 0.3s;
                    }
    
                    .content {
                        position: absolute;
                        left: 10px;
                        top: 40px;
                        font-weight: 500;
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.6);
                        z-index: 3;
                        transition: 0.3s;
                    }
                }
    
                .react {
                    position: absolute;
                    opacity: 0.6;
                    left: 30px;
                    top: 95px;
                }

                .flex-icon {
                    position: absolute;
                    top: 120px;
                    right: 30px;
                    color: #fff;
                }
            }

            #card-react:hover {
                border: 1px solid #fff;
                background-color: #000;
            }
        }

        a:hover .title-react {
            text-shadow: 
                0 0 7px #00D8FF,
                0 0 10px #00bee0,
                0 0 21px #00a0bd,
                0 0 42px #00869e,
                0 0 82px #006c80,
                0 0 92px #005463,
                0 0 102px #003f4a,
                0 0 151px #000000;
        }

        a:hover #card-react .entry-card .content {
            color: #898a87;
        }
    

        // React Native
        a {
            text-decoration: none;
            height: 170px;
            width: 260px;

            #card-react-native {
                position: relative;
                height: 170px;
                width: 260px;
                background-color: #4d4d4d;
                border-radius: 20px;
                transition: 0.3s;

                .entry-card {
                    display: flex;
                    flex-direction: column;

                    .title-react-native {
                        position: absolute;
                        letter-spacing: 1px;
                        top: 20px;
                        left: 50px;
                        color: #4003CA;
                        font-size: 24px;
                        font-weight: 500;
                        transition: 0.3s;
                    }
    
                    .content {
                        position: absolute;
                        left: 10px;
                        top: 40px;
                        font-weight: 500;
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.6);
                        z-index: 3;
                        transition: 0.3s;
                    }
                }
    
                .react-native {
                    position: absolute;
                    opacity: 0.6;
                    left: 30px;
                    top: 95px;
                }

                .flex-icon {
                    position: absolute;
                    top: 120px;
                    right: 30px;
                    color: #fff;
                }
            }

            #card-react-native:hover {
                border: 1px solid #fff;
                background-color: #000;
            }
        }

        a:hover .title-react-native {
            text-shadow: 
                0 0 7px #4003CA,
                0 0 10px #320696,
                0 0 21px #290775,
                0 0 42px #1d0554,
                0 0 82px #15043d,
                0 0 92px #0e0329,
                0 0 102px #080217,
                0 0 151px #000000;
        }

        a:hover #card-react-native .entry-card .content {
            color: #898a87;
        }


        // Python
        a {
            text-decoration: none;
            height: 170px;
            width: 260px;

            #card-python {
                position: relative;
                height: 170px;
                width: 260px;
                background-color: #4d4d4d;
                border-radius: 20px;
                transition: 0.3s;

                .entry-card {
                    display: flex;
                    flex-direction: column;

                    .title-py {
                        position: absolute;
                        letter-spacing: 1px;
                        top: 20px;
                        left: 50px;
                        color: #F7DF1E;
                        font-size: 24px;
                        font-weight: 500;
                        transition: 0.3s;
                    }
    
                    .content {
                        position: absolute;
                        left: 10px;
                        top: 40px;
                        font-weight: 500;
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.6);
                        z-index: 3;
                        transition: 0.3s;
                    }
                }
    
                .python {
                    position: absolute;
                    opacity: 0.6;
                    left: 30px;
                    top: 65px;
                }

                .flex-icon {
                    position: absolute;
                    top: 120px;
                    right: 30px;
                    color: #fff;
                }
            }

            #card-python:hover {
                border: 1px solid #fff;
                background-color: #000;
            }
        }

        a:hover .title-py {
            text-shadow: 
                0 0 7px #F7DF1E,
                0 0 10px #d6c21c,
                0 0 21px #b5a418,
                0 0 42px #948615,
                0 0 82px #706610,
                0 0 92px #47410a,
                0 0 102px #302c08,
                0 0 151px #000000;
        }

        a:hover #card-python .entry-card .content {
            color: #898a87;
        }
    }
}

// Fine della Section 2



// Inizio della Section 3

#free-course {
    position: relative;
    top: 200px;
    width: 100%;
    height: 300px;

    .main-title {
        width: 100%;
        height: 70px;
        border-bottom: 1px solid #4003CA;

        text-shadow:
            0 0 7px #4003CA,
            0 0 10px #3d09b3,
            0 0 21px #3708a1,
            0 0 42px #30088a,
            0 0 82px #240666,
            0 0 92px #1d0552,
            0 0 102px #120333,
            0 0 151px #000000; 

        span {
            margin-left: 15%;
            color: #4a07e3;
            font-weight: 900;
            font-size: 48px;
            letter-spacing: 1px;
        }

        #btn-link {
            height: 60px;
            width: 200px;

            button {
                position: relative;
                bottom: 15px;
                height: 60px;
                width: 200px;
                margin-left: 50px;
                border-radius: 10px;
                border: 0;
                background-color: #4003CA;
                cursor: pointer;
                transition: 0.2s;
    
                span {
                    position: absolute;
                    top: 21px;
                    right: 50px;
                    font-size: 20px;
                    font-family: "Press Start 2P", cursive;
                    color: #000;
                    transition: 0s;
                }

                img {
                    position: absolute;
                    right: 10px;
                    top: 22px;
                }
            }

            button:hover {
                background-color: #000;
                border-radius: 50px;
                border: 1px solid #fff;
            }

            button:hover span {
                position: absolute;
                left: 6px;
                color: #fff;
            }

            button:hover img {
                display: none;
            }
        }
    }

    .content {
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 18px;
        margin-left: 15%;
        margin-top: 20px;
        color: #fff;
    }

    .container-mini-box {
        display: flex;
        position: relative;
        width: 1300px;
        height: 300px;
        margin-top: 50px;
        margin-left: 15.5%;

        a {
            height: 160px;
            width: 250px;
            margin-right: 20px; 

            .first-box-card {
                position: relative;
                height: 160px;
                width: 250px;
                border-radius: 20px;
                background-color: #4d4d4d;
    
                span {
                    position: absolute;
                    letter-spacing: 1px;
                    top: 20px;
                    left: 50px;
                    color: #000;
                    font-size: 24px;
                    font-weight: 500;
                    transition: 0.3s;
                }
    
                .html5-img {
                    position: absolute;
                    opacity: 0.7;
                    left: -40px;
                    top: 75px;
                    z-index: 2;
                    transition: 0.3s;
                }
    
                .css3-img {
                    position: absolute;
                    left: 30px;
                    top: 85px;
                    z-index: 1;
                    transition: 0.3s;
                }
    
                .flex-icon {
                    position: absolute;
                    top: 105px;
                    right: 30px;
                    color: #fff;
                    transition: 0.3s;
    
                    i {
                        padding-left: 5px;
                    }
                }
            }

            .first-box-card:hover span {
                top: 5px;
                left: 15px;
            }

            .first-box-card:hover .html5-img {
                left: 10px;
            }

            .first-box-card:hover .css3-img {
                left: 80px;
            }

            .first-box-card:hover .flex-icon {
                top: 50px;
            }
        }

        a {
            height: 160px;
            width: 250px;
            margin-right: 20px; 

            .second-box-card {
                position: relative;
                height: 160px;
                width: 250px;
                border-radius: 20px;
                background-color: #4d4d4d;
    
                span {
                    position: absolute;
                    letter-spacing: 1px;
                    top: 20px;
                    left: 50px;
                    color: #000;
                    font-size: 24px;
                    font-weight: 500;
                    transition: 0.3s;
                }
    
                .js-img {
                    position: absolute;
                    left: 30px;
                    top: 90px;
                    transition: 0.3s;
                }
    
                .flex-icon {
                    position: absolute;
                    top: 105px;
                    right: 30px;
                    color: #fff;
                    transition: 0.3s;
                }
            }

            .second-box-card:hover span {
                top: 5px;
                left: 15px;
            }

            .second-box-card:hover .js-img {
                left: 60px;
            }

            .second-box-card:hover .flex-icon {
                top: 50px;
            }
        }

        a {
            height: 160px;
            width: 250px;
            margin-right: 20px; 

            .third-box-card {
                position: relative;
                height: 160px;
                width: 250px;
                border-radius: 20px;
                background-color: #4d4d4d;
    
                span {
                    position: absolute;
                    letter-spacing: 1px;
                    top: 20px;
                    left: 50px;
                    color: #000;
                    font-size: 24px;
                    font-weight: 500;
                    transition: 0.3s;
                }
    
                .react-img {
                    position: absolute;
                    opacity: 0.7;
                    left: 30px;
                    top: 90px;
                    transition: 0.3s;
                }
    
                .flex-icon {
                    position: absolute;
                    top: 105px;
                    right: 30px;
                    color: #fff;
                    transition: 0.3s;
                }
            }

            .third-box-card:hover span {
                top: 5px;
                left: 15px;
            }

            .third-box-card:hover .react-img {
                left: 60px;
            }

            .third-box-card:hover .flex-icon {
                top: 50px;
            }
        }

        a {
            height: 160px;
            width: 250px;
            margin-right: 20px; 

            .fourth-box-card {
                position: relative;
                height: 160px;
                width: 250px;
                border-radius: 20px;
                background-color: #4d4d4d;  
    
                span {
                    position: absolute;
                    letter-spacing: 1px;
                    top: 20px;
                    left: 50px;
                    color: #000;
                    font-size: 24px;
                    font-weight: 500;
                    transition: 0.3s;
                }
    
                .react-native-img {
                    position: absolute;
                    opacity: 0.7;
                    left: 30px;
                    top: 90px;
                    transition: 0.3s;
                }
    
                .flex-icon {
                    position: absolute;
                    top: 105px;
                    right: 30px;
                    color: #fff;
                    transition: 0.3s;
                }
            }

            .fourth-box-card:hover span {
                top: 5px;
                left: 15px;
            }

            .fourth-box-card:hover .react-native-img {
                left: 60px;
            }

            .fourth-box-card:hover .flex-icon {
                top: 50px;
            }
        }

        a {
            height: 160px;
            width: 250px;

            .fifth-box-card {
                position: relative;
                height: 160px;
                width: 250px;
                border-radius: 20px;
                background-color: #4d4d4d;
    
                span {
                    position: absolute;
                    letter-spacing: 1px;
                    top: 20px;
                    left: 50px;
                    color: #000;
                    font-size: 24px;
                    font-weight: 500;
                    transition: 0.3s;
                }
    
                .git-img {
                    position: absolute;
                    left: 30px;
                    top: 90px;
                    transition: 0.3s;
                }
    
                .flex-icon {
                    position: absolute;
                    top: 105px;
                    right: 30px;
                    color: #fff;
                    transition: 0.3s;
                }
            }

            .fifth-box-card:hover span {
                top: 5px;
                left: 15px;
            }

            .fifth-box-card:hover .git-img {
                left: 60px;
            }

            .fifth-box-card:hover .flex-icon {
                top: 50px;
            }
        }
    }
}

// Fine della Section 3



// Inizio Footer

@import "../templates/footer";

// Fine Footer