* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

.nav-container {
  margin-left: 17%;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15%;
  z-index: 2;
}

.nav-container-img {
  height: 80px;
  width: 72px;
  z-index: inherit;
}

.nav-container-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 2px;
}

.nav-container-element .element-attachment-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  text-align: center;
  margin-left: 50px;
}

.nav-container-element .element-attachment-nav .element {
  color: #fff;
  text-decoration: none;
}

.nav-container-element .element-nav {
  margin-left: 50px;
  text-align: center;
}

.nav-container-element .element-nav .element {
  text-decoration: none;
  color: #fff;
}

#element-pink {
  width: 120px;
  height: 4px;
  background-color: #ff0076;
  text-align: center;
  margin-top: 5px;
}

#element-orange {
  width: 120px;
  height: 4px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FF8400), to(#FF0076));
  background-image: linear-gradient(to right, #FF8400 0, #FF0076 100%);
  margin-top: 5px;
}

#element-blue {
  width: 80px;
  height: 4px;
  background-color: #4003ca;
  margin-top: 5px;
}

#element-marine {
  width: 80px;
  height: 4px;
  background-color: #33ffd9;
  margin-top: 5px;
}

.custom-container {
  position: relative;
  width: 100%;
  height: 630px;
  z-index: 1;
}

.custom-container .header-boxing {
  margin-left: 15%;
}

.custom-container .header-boxing .box-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 495px;
  width: 73%;
  margin-top: 40px;
  border: double 20px transparent;
  border-radius: 80px;
  background: linear-gradient(124deg, rgba(255, 132, 0, 0.8) 0, rgba(51, 255, 217, 0.4) 25%, rgba(51, 255, 217, 0.2) 50%, rgba(51, 255, 217, 0.4) 70%, white 100%);
  z-index: 0;
  -webkit-filter: blur(12px);
          filter: blur(12px);
  opacity: 0.3;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.custom-container .header-boxing .box-left {
  display: -ms-grid;
  display: grid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.custom-container .header-boxing .box-left .grid-area-box {
  position: absolute;
  margin-bottom: 330px;
  margin-left: -30px;
}

.custom-container .header-boxing .box-left .grid-area-box .display-border-two {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 290px;
  left: 60px;
  width: 650px;
  height: 500px;
}

.custom-container .header-boxing .box-left .grid-area-box .display-border-two span {
  color: #fff;
  font-weight: 700;
  font-size: 48px;
  z-index: 3;
  letter-spacing: 1px;
}

.custom-container .header-boxing .box-left .grid-area-box .display-border-two .display-border {
  position: absolute;
  display: -ms-grid;
  display: grid;
  background-image: url("https://i.imgur.com/pNrVHst.png"), -webkit-gradient(linear, left bottom, left top, color-stop(30%, rgba(0, 0, 0, 0)), color-stop(110%, #33FFD9));
  background-image: url("https://i.imgur.com/pNrVHst.png"), linear-gradient(to top, rgba(0, 0, 0, 0) 30%, #33FFD9 110%);
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 650px;
  height: 450px;
  top: 35px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  overflow: hidden;
  z-index: 2;
}

.custom-container .header-boxing .box-left .grid-area-box .display-border-two .display-border .grid-box {
  -webkit-filter: blur(0.3px);
          filter: blur(0.3px);
  border: 1px solid #29d1b2;
  opacity: 0.2;
  z-index: 5;
}

.custom-container .header-boxing .box-left .grid-area-box .display-border-two .display-border .top {
  border-top: none;
}

.custom-container .header-boxing .box-left .grid-area-box .display-border-two .display-border .right {
  border-right: none;
}

.custom-container .header-boxing .box-left .grid-area-box .display-border-two .display-border .left {
  border-left: none;
}

.custom-container .header-boxing .box-left .grid-area-box .display-border-two .display-border .bottom {
  border-bottom: none;
}

.custom-container .header-boxing .box-left .box-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 44%;
  height: 300px;
  width: 43%;
  z-index: 4;
}

.custom-container .header-boxing .box-left .box-right img {
  position: relative;
  top: 120px;
  right: -80px;
}

.custom-container .header-boxing .box-left .box-right .box-container-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 240px;
  z-index: 2;
}

.custom-container .header-boxing .box-left .box-right .box-container-element .box-title {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  margin-top: 300px;
}

.custom-container .header-boxing .box-left .box-right .box-container-element .box-document {
  color: #fff;
  font-size: 20px;
  margin-top: 2px;
}

.box-end-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 400px;
  bottom: 0;
}

.box-end-page .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  width: 50%;
  height: 350px;
  background-color: #33FFD9;
}

.box-end-page .contacts .box-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 250px;
  width: 600px;
}

.box-end-page .contacts .box-contacts #title {
  color: #4003CA;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.box-end-page .contacts .box-contacts .images-count {
  margin-top: 25px;
  margin-bottom: 15px;
}

.box-end-page .contacts .box-contacts .images-count img {
  height: 40px;
  width: 40px;
}

.box-end-page .contacts .box-contacts .images-count #facebook {
  margin-right: 100px;
}

.box-end-page .contacts .box-contacts .images-count #instagram {
  margin-right: 100px;
}

.box-end-page .contacts .box-contacts #email-type {
  color: #4003CA;
  font-size: 18px;
  font-weight: bold;
}

.box-end-page .contacts .box-contacts #email {
  color: #4003CA;
  font-size: 18px;
  letter-spacing: 1px;
}

.box-end-page .contacts .box-contacts .policy {
  margin-top: 15px;
  color: #4003CA;
  font-size: 15px;
  letter-spacing: 1px;
}

.box-end-page .contacts .box-contacts .policy .spacing {
  padding: 8px;
}

.box-end-page .contacts .box-contacts .policy a {
  text-decoration: none;
}

.box-end-page .contacts .box-contacts .policy a span {
  color: #4003CA;
}

.box-end-page .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0;
  width: 50%;
  height: 350px;
  background-color: #4003CA;
}

.box-end-page .content .box-content {
  position: relative;
  height: 200px;
  width: 520px;
  color: #33FFD9;
  font-size: 24px;
  font-weight: 900;
}

.box-end-page .content .box-content a img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.box-end-page {
  margin-top: -200px;
}
/*# sourceMappingURL=style.css.map */