* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

// Inizio Navbar

.nav-container {
    margin-left: 17%;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15%;
    z-index: 2;

    &-img {
        height: 80px;
        width: 72px;
        z-index: inherit;
    }

    &-element {
        display: flex;
        letter-spacing: 2px;

        .element-attachment-nav {
            display: flex;
            margin: 0;
            text-align: center;
            margin-left: 50px;

            .element {
                color: #fff;
                text-decoration: none;
            }
        }

        .element-nav {
            margin-left: 50px;
            text-align: center;

            .element {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

#element-pink {
    width: 120px;
    height: 4px;
    background-color: #ff0076;
    text-align: center;
    margin-top: 5px;
    // #ff0076
}

#element-orange {
    width: 120px;
    height: 4px;
    background-image: linear-gradient(to right, #FF8400 0, #FF0076 100%);
    margin-top: 5px;
    // #FF8400 #FF0076
}

#element-blue {
    width: 80px;
    height: 4px;
    background-color: #4003ca;
    margin-top: 5px;
    // #4003ca
}

#element-marine {
    width: 80px;
    height: 4px;
    background-color: #33ffd9;
    margin-top: 5px;
    // #33ffd9
}

// Fine Navbar



// Inizio Header

.custom-container {
    position: relative;
    width: 100%;
    height: 630px; 
    z-index: 1;

    .header-boxing {
        margin-left: 15%;
    
        .box-container {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 495px;
            width: 73%;
            margin-top: 40px;
            border: double 20px transparent;
            border-radius: 80px;
            background: linear-gradient(124deg, rgba(255, 132, 0, 0.8) 0, rgba(51, 255, 217, 0.4) 25%, rgba(51, 255, 217, 0.2) 50%, rgba(51, 255, 217, 0.4) 70%, white 100%);
            z-index: 0;
            filter: blur(12px);
            opacity: 0.3;
            background-origin: border-box;
            background-clip: content-box, border-box;   
        }
    
        .box-left {
            display: grid;
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            z-index: 1;
    
            .grid-area-box {
                position: absolute;
                margin-bottom: 330px;
                margin-left: -30px;
                
                .display-border-two {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 290px;
                    left: 60px;
                    width: 650px;
                    height: 500px;

                    span {
                        color: #fff;
                        font-weight: 700;
                        font-size: 48px;
                        z-index: 3;
                        letter-spacing: 1px;
                    }
                    
                    .display-border {
                        position: absolute;
                        display: grid;
                        background-image: url("https://i.imgur.com/pNrVHst.png"), linear-gradient(to top, rgba(0, 0, 0, 0) 30%, #33FFD9 110%);
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                        width: 650px;
                        height: 450px;
                        top: 35px;
                        border-top-left-radius: 80px;
                        border-bottom-left-radius: 80px;
                        overflow: hidden;
                        z-index: 2;
                    
                        .grid-box {
                            filter: blur(0.3px);
                            border: 1px solid #29d1b2;
                            opacity: 0.2;
                            z-index: 5;
                        }

                        .top {
                            border-top: none;
                        }

                        .right {
                            border-right: none;
                        }

                        .left {
                            border-left: none;
                        }

                        .bottom {
                            border-bottom: none;
                        }
                    }
                }
            }
    
            .box-right {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 44%;
                height: 300px;
                width: 43%;
                z-index: 4;

                img {
                    position: relative;
                    top: 120px;
                    right: -80px;
                }
                
                .box-container-element {
                    display: flex;
                    flex-direction: column;   
                    margin-right: 240px;
                    z-index: 2;
        
                    .box-title {
                        color: #fff;
                        font-size: 48px;
                        font-weight: bold;
                        margin-top: 300px;
                    }
                
                    .box-document {
                        color: #fff;
                        font-size: 20px;
                        margin-top: 2px;
                    }
                }
            }
        }
    }
}

// Fine Header

// Fine Header



// Inizio Footer

.box-end-page {
    display: flex;
    position: relative;
    top: 700px;
    bottom: 0;

    .contacts {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        width: 50%;
        height: 350px;
        background-color: #33FFD9;

        .box-contacts {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 250px;
            width: 600px;

            #title {
                color: #4003CA;
                font-size: 24px;
                font-weight: bold;
                letter-spacing: 1px;
            }

            .images-count {
                margin-top: 25px;
                margin-bottom: 15px;

                img {
                    height: 40px;
                    width: 40px;
                }

                #facebook {
                    margin-right: 100px;
                }

                #instagram {
                    margin-right: 100px;
                }
            }

            #email-type {
                color: #4003CA;
                font-size: 18px;
                font-weight: bold;
            }

            #email {
                color: #4003CA;
                font-size: 18px;
                letter-spacing: 1px;
            }

            .policy {
                margin-top: 15px;
                color: #4003CA;
                font-size: 15px;
                letter-spacing: 1px;

                .spacing {
                    padding: 8px;
                }

                a {
                    text-decoration: none;

                    span {
                        color: #4003CA;
                    }
                }
            }
        }
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        width: 50%;
        height: 350px;
        background-color: #4003CA;

        .box-content {
            position: relative;
            height: 200px;
            width: 520px;
            color: #33FFD9;
            font-size: 24px;
            font-weight: 900;

            a {

                img {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }
}

// Fine Footer