* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

#coin-img-sx img {
  position: absolute;
  top: 0;
  left: -20px;
}

.nav-container {
  margin-left: 17%;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15%;
  z-index: 4;
}

.nav-container-img {
  height: 80px;
  width: 72px;
  z-index: inherit;
}

.nav-container-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 2px;
}

.nav-container-element .element-attachment-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  text-align: center;
  margin-left: 50px;
}

.nav-container-element .element-attachment-nav .element {
  color: #fff;
  text-decoration: none;
}

.nav-container-element .element-nav {
  margin-left: 50px;
  text-align: center;
}

.nav-container-element .element-nav .element {
  text-decoration: none;
  color: #fff;
}

#element-pink {
  width: 120px;
  height: 4px;
  background-color: #ff0076;
  text-align: center;
  margin-top: 5px;
}

#element-yellow {
  width: 120px;
  height: 4px;
  background-color: #ff9300;
  text-align: center;
  margin-top: 5px;
}

#element-orange {
  width: 120px;
  height: 4px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FF8400), to(#FF0076));
  background-image: linear-gradient(to right, #FF8400 0, #FF0076 100%);
  margin-top: 5px;
}

#element-blue {
  width: 80px;
  height: 4px;
  background-color: #4003ca;
  margin-top: 5px;
}

#element-marine {
  width: 80px;
  height: 4px;
  background-color: #33ffd9;
  margin-top: 5px;
}

.element-nav {
  z-index: 2;
}

#box-center-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 60px;
}

#box-center-title .title {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 550px;
  height: 100px;
  border-radius: 60px;
  background-color: #333333;
  font-family: "Press Start 2P", cursive;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#box-center-title .title span {
  color: #fff;
  font-size: 25px;
}

#box-center-title .title:hover {
  -webkit-box-shadow: 0 0 40px 10px rgba(207, 192, 243, 0.2);
          box-shadow: 0 0 40px 10px rgba(207, 192, 243, 0.2);
  background-color: #000;
  border: 1px solid #cfc0f3;
}

#prices-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 59px;
}

#prices-cards .container-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1380px;
  height: 800px;
}

#prices-cards .container-center #first-left-card {
  position: relative;
  background-color: #17161e;
  width: 400px;
  height: 600px;
  border-radius: 40px;
  margin-right: 40px;
  -webkit-box-shadow: -5px 1px 31px #4003ca;
          box-shadow: -5px 1px 31px #4003ca;
  overflow: hidden;
}

#prices-cards .container-center #first-left-card .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #4003ca;
}

#prices-cards .container-center #first-left-card .top .content-top-title-left {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

#prices-cards .container-center #first-left-card .title-price {
  position: relative;
  top: 28px;
  margin-left: 115px;
}

#prices-cards .container-center #first-left-card .title-price p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

#prices-cards .container-center #first-left-card .title-price p span {
  font-weight: bold;
}

#prices-cards .container-center #first-left-card .content {
  position: absolute;
  top: 265px;
  left: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#prices-cards .container-center #first-left-card .content .primary-shot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 1px solid #000;
  background-color: #4003ca;
  margin-right: 7px;
}

#prices-cards .container-center #first-left-card .content .text-first-shot {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
}

#prices-cards .container-center #first-left-card #approve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 140px;
  left: 40px;
}

#prices-cards .container-center #first-left-card #approve .first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

#prices-cards .container-center #first-left-card #approve .first-line p {
  font-size: 18px;
  color: #fff;
  margin-left: 10px;
  letter-spacing: 1px;
}

#prices-cards .container-center #first-left-card #approve .second-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

#prices-cards .container-center #first-left-card #approve .second-line p {
  font-size: 18px;
  color: #fff;
  margin-left: 10px;
  letter-spacing: 1px;
}

#prices-cards .container-center #first-left-card #approve .third-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

#prices-cards .container-center #first-left-card #approve .third-line p {
  font-size: 18px;
  color: #fff;
  margin-left: 10px;
  letter-spacing: 1px;
}

#prices-cards .container-center #first-left-card #approve .fourth-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#prices-cards .container-center #first-left-card #approve .fourth-line p {
  font-size: 18px;
  color: #fff;
  margin-left: 10px;
  letter-spacing: 1px;
}

#prices-cards .container-center #first-left-card button {
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  left: 80px;
  height: 50px;
  width: 240px;
  border: 0;
  border-radius: 10px;
  background-color: #4003ca;
}

#prices-cards .container-center #first-left-card button span {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
}

#prices-cards .container-center #second-center-card {
  background-color: #17161e;
  width: 500px;
  height: 800px;
  border-radius: 40px;
  margin-right: 40px;
  -webkit-box-shadow: -5px 1px 31px #33ffd9;
          box-shadow: -5px 1px 31px #33ffd9;
  overflow: hidden;
}

#prices-cards .container-center #second-center-card .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 140px;
  background-color: #33ffd9;
}

#prices-cards .container-center #second-center-card .top .content-top-title-center {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
}

#prices-cards .container-center #third-right-card {
  background-color: #17161e;
  width: 400px;
  height: 600px;
  border-radius: 40px;
  -webkit-box-shadow: -5px 1px 31px #ff0076;
          box-shadow: -5px 1px 31px #ff0076;
  overflow: hidden;
}

#prices-cards .container-center #third-right-card .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #ff0076;
}

#prices-cards .container-center #third-right-card .top .content-top-title-right {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.box-end-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 400px;
  bottom: 0;
}

.box-end-page .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  width: 50%;
  height: 350px;
  background-color: #33FFD9;
}

.box-end-page .contacts .box-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 250px;
  width: 600px;
}

.box-end-page .contacts .box-contacts #title {
  color: #4003CA;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.box-end-page .contacts .box-contacts .images-count {
  margin-top: 25px;
  margin-bottom: 15px;
}

.box-end-page .contacts .box-contacts .images-count img {
  height: 40px;
  width: 40px;
}

.box-end-page .contacts .box-contacts .images-count #facebook {
  margin-right: 100px;
}

.box-end-page .contacts .box-contacts .images-count #instagram {
  margin-right: 100px;
}

.box-end-page .contacts .box-contacts #email-type {
  color: #4003CA;
  font-size: 18px;
  font-weight: bold;
}

.box-end-page .contacts .box-contacts #email {
  color: #4003CA;
  font-size: 18px;
  letter-spacing: 1px;
}

.box-end-page .contacts .box-contacts .policy {
  margin-top: 15px;
  color: #4003CA;
  font-size: 15px;
  letter-spacing: 1px;
}

.box-end-page .contacts .box-contacts .policy .spacing {
  padding: 8px;
}

.box-end-page .contacts .box-contacts .policy a {
  text-decoration: none;
}

.box-end-page .contacts .box-contacts .policy a span {
  color: #4003CA;
}

.box-end-page .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0;
  width: 50%;
  height: 350px;
  background-color: #4003CA;
}

.box-end-page .content .box-content {
  position: relative;
  height: 200px;
  width: 520px;
  color: #33FFD9;
  font-size: 24px;
  font-weight: 900;
}

.box-end-page .content .box-content a img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.box-end-page {
  top: 150px;
}
/*# sourceMappingURL=style.css.map */