* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}


#coin-img-sx {
    
    img {
        position: absolute;
        top: 0;
        left: -20px
    }
}


// Variables

@import "../templates/variables";



// Inizio Navbar

@import "../templates/navbar";

.element-nav {
    z-index: 2;
}

// Fine Navbar



// Inizio sezione titolo

#box-center-title {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 60px;

    .title {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 550px;
        height: 100px;
        border-radius: 60px;
        background-color: #333333;
        font-family: "Press Start 2P", cursive;
        transition: 0.3s;

        span {
            color: #fff;
            font-size: 25px;
        }
    }

    .title:hover {
        box-shadow: 0 0 40px 10px rgba(207,192,243,0.2); 
        background-color: #000;
        border: 1px solid rgb(207, 192, 243);
    }
}

// Fine sezione titolo



// Inizio contenuto card price

#prices-cards {
    display: flex;
    justify-content: center;
    margin-top: 59px;

    .container-center {
        display: flex;
        align-items: center;
        width: 1380px;
        height: 800px;

        #first-left-card {
            position: relative;
            background-color: #17161e;
            width: 400px;
            height: 600px;
            border-radius: 40px;
            margin-right: 40px;
            box-shadow: -5px 1px 31px #4003ca;
            overflow: hidden;

            .top {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 120px;
                background-color: #4003ca;
                
                .content-top-title-left {
                    color: #fff;
                    font-size: 24px;
                    font-weight: bold;
                    letter-spacing: 1px;
                }
            }

            .title-price {
                position: relative;
                top: 28px;
                margin-left: 115px;

                p {
                    color: #fff;
                    font-size: 20px;
                    font-weight: 400;
                    letter-spacing: 1px;

                    span {
                        font-weight: bold;
                    }
                }
            }

            .content {
                position: absolute;
                top: 265px;
                left: 90px;
                display: flex;
                justify-content: center;
                align-items: center;

                .primary-shot {
                    width: 15px;
                    height: 15px;
                    border-radius: 100%;
                    border: 1px solid #000;
                    background-color: #4003ca;
                    margin-right: 7px;
                }

                .text-first-shot {
                    color: #fff;
                    font-size: 18px;
                    letter-spacing: 1px;
                }
            }

            #approve {
                display: flex;
                flex-direction: column;
                position: relative;
                top: 140px;
                left: 40px;

                .first-line {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;

                    p {
                        font-size: 18px;
                        color: #fff;
                        margin-left: 10px;
                        letter-spacing: 1px;
                    }
                }

                .second-line {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;

                    p {
                        font-size: 18px;
                        color: #fff;
                        margin-left: 10px;
                        letter-spacing: 1px;
                    }
                }

                .third-line {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;

                    p {
                        font-size: 18px;
                        color: #fff;
                        margin-left: 10px;
                        letter-spacing: 1px;
                    }
                }

                .fourth-line {
                    display: flex;
                    align-items: center;

                    p {
                        font-size: 18px;
                        color: #fff;
                        margin-left: 10px;
                        letter-spacing: 1px;
                    }
                }
            }

            button {
                cursor: pointer;
                position: absolute;
                bottom: 30px;
                left: 80px;
                height: 50px;
                width: 240px;
                border: 0;
                border-radius: 10px;
                background-color: #4003ca;

                span {
                    color: #fff;
                    font-size: 16px;
                    letter-spacing: 1px;
                }
            }
        }

        #second-center-card {
            background-color: #17161e;
            width: 500px;
            height: 800px;
            border-radius: 40px;
            margin-right: 40px;
            box-shadow: -5px 1px 31px #33ffd9;
            overflow: hidden;

            .top {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 140px;
                background-color: #33ffd9;
                
                .content-top-title-center {
                    color: #000;
                    font-size: 28px;
                    font-weight: bold;
                    letter-spacing: 1px;
                }
            }
        }

        #third-right-card {
            background-color: #17161e;
            width: 400px;
            height: 600px;
            border-radius: 40px;
            box-shadow: -5px 1px 31px #ff0076;
            overflow: hidden;

            .top {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 120px;
                background-color: #ff0076;
                
                .content-top-title-right {
                    color: #fff;
                    font-size: 24px;
                    font-weight: bold;
                    letter-spacing: 1px;
                }
            }
        }
    }
}

// Fine contenuto card price



// Inizio Footer

@import "../templates/footer";

.box-end-page {
    top: 150px;
}

// Fine Footer