* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}



// Variables

@import "../templates/variables";



// Inizio Navbar

@import "../templates/navbar";

.element-nav {
    z-index: 4;
}

// Fine Navbar



// Inizio Footer

@import "../templates/footer";

// Fine Footer