* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}


#coin-img-sx {
    
    img {
        position: absolute;
        top: 0;
        left: -20px
    }
}


// Variables

@import "../templates/variables";



// Inizio Navbar

@import "../templates/navbar";

.element-nav {
    z-index: 2;
}

// Fine Navbar







// Inizio Footer

@import "../templates/footer";

// Fine Footer